.cart-container {
    background-color: var(--color-background-cart);
    width: 27vw;
    margin-top: 5rem;
    border: solid 1px var(--color-darkGreen);
    border-radius: 5px;
    margin-right: 5vw;
    height: 100%;
}

.cart-title {
    width: 90%;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-bottom: solid 1px var(--color-darkGreen)
}

.cart-container p {
    text-align: center;
    padding: 1.2rem;
}

.cart-items {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
}

.cart-total {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    margin: auto;
    border-top: solid 1px var(--color-darkGreen);
}

.checkout {
    color: var(--color-mediumGreen);
    font-size: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.checkout:hover {
    transform: scale(1.2);
}
