.cart-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}

.cart-card img {
    width: 25%;
    clip-path: circle(30% at 50% 50%);
    padding-left: 10px;
}

.remove {
    background-color: var(--color-mediumGreen);
    color: var(--color-background-cart);
    border-radius: 15px;
    border: none;
    cursor: pointer;
    padding: 5px;
    width: 5rem;
}

.remove:hover {
    background-color: var(--color-lightGreen);
    color: var(--color-darkGreen);
}