.filter-container {
    position: fixed;
    z-index: 5;
    left: 6%;
    display: flex;
    width: 60vw;
    margin: auto;
    justify-content: space-around;
    padding: 1.2rem;
    border-bottom: solid 1px var(--color-darkGreen);
    background-color: var(--color-background);
}

.filter-container select, .filter-container option {
    font-family: 'Rosario', sans-serif;
    border-radius: 10px;
    border: none;
    padding: 5px;
    cursor: pointer;
}