.modal {
   position: absolute;
   top: 30%;
   left: 20%;
   height: 100%;
   width: 60vw;
}

.plant-details {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.plant-details img {
    width: 20vw;
    border-radius: 15px ;
}

.plant-care {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem;
    line-height: 1.5rem;
}

.plant-care h2, .plant-care p {
    padding: 1rem;
}

.close-modal {
    margin-left: 90%;
    border-radius: 15px;
    padding: 2px;
    border:none;
    font-size: 1.5rem;
    cursor: pointer;
}