.header {
    position: sticky;
    z-index: 10;
    top:0;
    width: 95%;
    margin: auto;
    height: 20vh;
    background-image: url('../../assets/banner.jpg');
    background-position: center;
}
