
  body {
    min-height: 100vh;
    background-color: var(--color-background);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
